@model AboutModel
@{
    ViewData["Title"] = "О конференции";
    int counter = 0;
}
<link rel="stylesheet" href="~/css/AboutStyle.min.css" asp-append-version="true">

<div class="color-wrap">
    <div class="container pt-3 pb-2">
        <div class="text-light">
            <h2 class="text-center text-light mt-0">Информация о конференции</h2>
            <img class="float-start w-img mb-2" src="~/img/kpfu.png" />
            <p class="mx-3">
                Конференция «Материалы и технологии XXI века» берет свое начало с 2000 г. Она более десяти лет проводилась на базе Казанского университета в качестве междисциплинарного научного мероприятия,
                собиравшего на одной площадке студентов, аспирантов и молодых
                ученых естественнонаучного профиля из различных вузов г. Казани. Впоследствии конференция получила
                всероссийский уровень. В 2014 году в конференции приняло участие более 350 молодых ученых из разных
                городов и регионов Российской Федерации, представляющих
                более 50 высших учебных заведений и научно-исследовательских институтов. С пленарными лекциями для
                молодых ученых выступили ведущие российские и зарубежные ученые, являющиеся одними из мировых
                лидеров в своих областях науки.
                <br>
                В 2015 году конференция получила статус Международной
                конференции, за счет привлечения к участию студентов, аспирантов и молодыхученых из ближнего и дальнего зарубежья.
                Целями конференции являются популяризация научной деятельности в молодежной среде,
                а также обмен опытом и налаживание контактов для последующих совместных исследований.
                Формат конференции включает стендовые и устные доклады студентов, аспирантов и молодых
                ученых более чем по 6 различным направлениям, а также мастер-классы и семинары представителей
                крупных российских и международных компаний.
            </p>
        </div>
    </div>
</div>


<div class="bg-primary">
    <div class="container pt-4 pb-3">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="text-center">
                    <h3 class="text-light mb-4">ДАТА И МЕСТО ПРОВЕДЕНИЯ:</h3>
                    <p class="text-light">
                        30 ноября – 2 декабря 2022, г. Казань, ул. Кремлевская, д. 18
                        <br>
                        Казанский (Приволжский) федеральный университет
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-center">
                    <h3 class="text-light mb-4">РАБОЧИЕ ЯЗЫКИ КОНФЕРЕНЦИИ:</h3>
                    <p class="text-light">Русский и английский</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="color-wrap">
    <div class="container text-light pt-3 pb-4" id="Sections">
        <h2 class="text-center text-light mb-4">Основные научные направления</h2>
        @foreach(Thesis thesis in Model.Thesises)
        {
            counter++;
            <div class="accordion mb-2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-primary text-light collapsed" onclick="this.blur();" type="button" data-bs-toggle="collapse" data-bs-target="#Accordion-@counter" aria-expanded="false">
                            @thesis.Name
                        </button>
                    </h2>
                    <div id="Accordion-@counter" class="accordion-collapse bg-primary text-light collapse">
                        <div class="accordion-body">
                            <p class="p-0 m-0">@Html.Raw(thesis.Description)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container pt-3">
    <h2 class="text-center">Оргкомитет V Всероссийской с международным участием школы-конференции студентов, аспирантов и молодых ученых «Материалы и технологии XXI века»</h2>
    <hr>
    <h3 class="title text-center">Со-председатели и координаторы</h3>
    <div class="row justify-content-xs-center justify-content-sm-center justify-content-md-center justify-content-lg-center">
        @foreach(Coordinator coordinator in Model.Coordinators)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3">
                <div class="card border-primary h-100" style="max-width: 20rem;">
                    <div class="card-header text-center">
                        <span>
                            <b>@coordinator.Name</b>
                            <a href="@coordinator.Url" class="position-absolute top-right bi bi-box-arrow-up-right"></a>
                        </span>
                    </div>
                    <div class="card-body">
                        <img src="~/img/orgs/@coordinator.Image" class="w-100 h-100">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <hr>
    <div class="row justify-content-xs-center justify-content-sm-center justify-content-md-center justify-content-lg-center">
        <h3 class="text-center">Члены оргкомитета</h3>
        @foreach(Orgcom orgcom in Model.Orgcoms)
        {
            <div class="col-lg-4 col-md-6">
                @if (string.IsNullOrEmpty(orgcom.Url))
                {
                    <h5 class="title text-center"><a>@orgcom.Name</a></h5>
                }
                else
                {
                    <h5 class="title text-center"><a href="@orgcom.Url">@orgcom.Name</a></h5>
                }
            </div>
        }
    </div>
</div>

<partial name="_SponsorsPartial" model="true">