@using Mt22KpfuRu.Models;
@model ConferencesModel
@{
    ViewData["Title"] = "История мероприятия";
    ViewData["footer"] = true;
    Conference first = Model.Conferences[0];
}

@section Scripts{
    <script src="~/js/PaginatorScript.min.js" asp-append-version="true"></script>
}

<div class="color-wrap h-100">
    <div class="container pt-2 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <div class="d-flex justify-content-center">
            <div class="color-wrap">
                <ul class="pagination pagination-lg">
                    @foreach (Conference conference in Model.Conferences)
                    {
                        <li class="page-item @(first == conference ? "active" : "")" id="@conference.Year">
                            <a class="page-link" href="JavaScript:Toggle(@conference.Year,'@conference.Program','@conference.Thesis','@conference.Winners')">@conference.Year</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 mb-3" id="program-block" @(first.Program ? "" : "hidden")>
                <a class="btn btn-lg btn-primary w-100" id="program-button" href="/docs/history/@first.Year/Program.pdf">Программа</a>
            </div>
            <div class="col-md-4 col-sm-6 mb-3" id="thesis-block" @(first.Thesis ? "" : "hidden")>
                <a class="btn btn-lg btn-primary w-100" id="thesis-button" href="/docs/history/@first.Year/Thesis.pdf">Тезисы</a>
            </div>
            <div class="col-md-4 col-sm-6" id="winners-block" @(first.Winners ? "" : "hidden")>
                <a class="btn btn-lg btn-primary w-100" id="winners-button" href="/docs/history/@first.Year/Winners.pdf">Победители</a>
            </div>
        </div>
    </div>
</div>