@using X.PagedList
@model IndexModel
@{
    ViewData["Title"] = "Главная";
    ViewData["footer"] = true;
}
<link rel="stylesheet" href="~/css/IndexStyle.min.css" asp-append-version="true">

<div class="color-wrap">
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="top-text text-light">V Всероссийская с международным участием школа-конференция студентов, аспирантов и молодых ученых «Материалы и технологии XXI века»</h2>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="h-100 d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <a href="https://kpfu.ru/science/nauchno-issledovatelskaya-rabota-studentov-nirs/materialy-i-tehnologii-xxi-veka-xxi-veka"><img src="~/img/main_logo.jpg" class="img-circle" width="200px" height="200px"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="h-100 d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <a href="https://kpfu.ru/"><img src="~/img/kpfu_logo.jpg" class="img-circle" width="200px" height="200px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container portfoliowrap">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <h3 class="text-center">Ключевые даты</h3>
            <ul class="event-list">
                @foreach (Date date in Model.Dates)
                {
                    <li>
                        <div class="time d-flex align-items-center justify-content-center">
                            <span class="text-center">
                                @date.DateTime.ToString("d MMMM yyyy")
                                @if (date.ShowTime)
                                {
                                    @date.DateTime.ToString(" HH:mm")
                                }
                            </span>
                        </div>
                        <div class="info d-flex align-items-center justify-content-center">
                            <h4 class="text-center">@date.Name</h4>
                        </div>
                    </li>
                }
            </ul>
            <div class="hline"></div>
            <div>
                <h3 class="text-center">Быстрые ссылки</h3>
                <ul class="links text-center">
                    @foreach (FastLink link in Model.FastLinks)
                    {
                        <li><a class="link-btn" href="@link.Url">@link.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 all_news" id="news">
            <div id="news-loaded">
                <h3 class="text-center">Новости</h3>
                <partial name="_PagerPartial" model="Model.News" />
                @foreach (News news in Model.News)
                {
                    <div class="news_block mb-2">
                        <h5 class="text-center">@news.Title</h5>
                        <hr />
                        <article style="word-wrap: break-word;  font-size: 18px;">
                            @news.Description
                        </article>
                        <div style="padding-top: 7px; font-size: 12px;">
                            <div class="row">
                                <div class="col-7">
                                    <b>Опубликовано:</b> @news.CreateTime.ToString("dd.MM.yyyy HH:mm")
                                </div>
                                <div class="col-5 mt-auto">
                                    <a class="cs-readmore-btn cs-hovercolor" data-bs-toggle="modal" data-bs-target="#NewsModal-@news.Id"><i class="bi bi-newspaper"></i> Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="NewsModal-@news.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="false">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">@news.Title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        @Html.Raw(@news.Content)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <partial name="_PagerPartial" model="Model.News" />
            </div>
        </div>
    </div>
</div>
<div class="our_photo">
</div>

<partial name="_SponsorsPartial" model="false">

    @section Scripts{
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/IndexScript.min.js"></script>
    }
