@model ProgramModel
@{
    ViewData["Title"] = "Программа конференции";
    ViewData["footer"] = true;
}
<link rel="stylesheet" href="~/css/ProgramStyle.min.css">

<div class="color-wrap">
    <div class="container pt-2 pb-3">
        <h2 class="text-center text-light mb-3">Программа конференции</h2>
        <table class="table table-bordered table-responsive text-light mb-0">
            <thead>
                <tr class="cell-centered">
                    <th scope="col" style="width:10%;">Время</th>
                    <th scope="col" style="width:45%;">Мероприятие</th>
                    <th scope="col" style="width:45%;">Место проведения</th>
                </tr>
            </thead>
            <tbody>
                @foreach (IGrouping<DateOnly, ProgramPart> group in Model.Parts)
                {
                    <tr class="cell-centered"><td colspan="3">@group.Key.ToString("d MMMM yyyy г.")</td></tr>
                    @foreach (ProgramPart part in group)
                    {
                        <tr class="cell-centered">
                            <td>@part.TimeStart.ToString("HH:mm") - @part.TimeEnd.ToString("HH:mm")</td>
                            <td>@part.Name</td>
                            <td>@Html.Raw(part.Place)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-primary mt-3" href="~/docs/Program.pdf">Программа конференции</a>
        </div>
    </div>
</div>