@{
    string name = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/main_logo.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mt22KpfuRu.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl-plus navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="img-circle" width="100px" height="100px" src="~/img/main_logo.jpg">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto d-flex justify-content-around flex-grow-1">
                        <li class="nav-item display-7 text-nowrap">
                            <a class="nav-link @(name.Equals("Index") ? "active" : "")" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item display-7 text-nowrap">
                            <a class="nav-link @(name.Equals("About") ? "active" : "")" asp-controller="Home" asp-action="About">О конференции</a>
                        </li>
                        <li class="nav-item display-7 text-nowrap">
                            <a class="nav-link @(name.Equals("Register") ? "active" : "")" asp-controller="Home" asp-action="Register">Регистрация</a>
                        </li>
                        <li class="nav-item display-7 text-nowrap">
                            <a class="nav-link @(name.Equals("Program") ? "active" : "")" asp-controller="Home" asp-action="Program">Программа</a>
                        </li>
                        <li class="nav-item display-7 text-nowrap">
                            <a class="nav-link @(name.Equals("Living") ? "active" : "")" asp-controller="Home" asp-action="Living">Проживание</a>
                        </li>
                        <li class="nav-item display-7 text-nowrap">
                            <a class="nav-link @(name.Equals("Sponsors") ? "active" : "")" asp-controller="Home" asp-action="Sponsors">Спонсоры</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    @{
        string footerColorClass;
        var dictValue = ViewData["footer"];
        if (dictValue == null || dictValue is not bool || !(bool)dictValue)
        {
            footerColorClass = "color-wrap";
        }
        else
        {
            footerColorClass = "bg-primary";
        }
    }
    <div class="@footerColorClass">
        <div class="container pt-5" id="footer">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h5 class="text-light">Адрес</h5>
                    <div class="hr-dashed"></div>
                    <p class="text-light">
                        ул. Кремлевская 18,
                        <br>
                        Казань, Россия, 420008
                        <br>
                        <a class="text-light" href="https://kpfu.ru">kpfu.ru</a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h5 class="text-light">СМИ</h5>
                    <div class="hr-dashed"></div>
                    <div class="row">
                        <div class="col d-flex justify-content-center align-content-center">
                            <h3><i><a href="https://vk.com/kazan_federal_university" class="icon-vk no-line text-light"></a></i></h3>
                        </div>
                        <div class="col d-flex justify-content-center align-content-center">
                            <h3><a href="https://www.instagram.com/kazanfederaluniversity/" class="bi bi-instagram text-light" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="*Деятельность Meta Platforms Inc запрещена в РФ"></a></h3>
                        </div>
                        <div class="col d-flex justify-content-center align-content-center">
                            <h3><a href="https://www.facebook.com/KazanUniversity/" class="bi bi-facebook text-light" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="*Деятельность Meta Platforms Inc запрещена в РФ"></a></h3>
                        </div>
                        <div class="col d-flex justify-content-center align-content-center">
                            <h3><a href="https://twitter.com/kazanuniversity" class="bi bi-twitter text-light"></a></h3>
                        </div>
                        <div class="col d-flex justify-content-center align-content-center">
                            <h3><a href="https://www.youtube.com/univertv" class="bi bi-youtube text-light"></a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h5 class="text-light">Контакты</h5>
                    <div class="hr-dashed"></div>
                    <p class="text-light">
                        <strong>Почта: </strong><a class="text-light" href="mailto:info.materials21@kpfu.ru">info.materials21@kpfu.ru</a>
                        <br>
                        <strong>Тел.: </strong><a class="text-light" href="tel:+78432387901">+7 (843) 238-79-01</a>
                        <br>
                        <strong>Факс: </strong><a class="text-light" href="tel:+78432387901">+7 (843) 238-79-01</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
